*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.remove-arrow::-webkit-inner-spin-button,
.remove-arrow::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}